    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div id="about_change" class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me.</h2>
              <hr class="intro-divider">
              <br/>
              <font size="4px">
                  <p><font size="5px">Hello,</font></p>
                <p>My name is <font color="DarkTurquoise">Wesley</font>.</p>
                <p><i class="fa fa-terminal"></i></p>
                <p>I study <font color="HotPink">Computer Science and Neuroscience</font>.</p>
                  <p><i class="fa fa-terminal"></i></p>
                <p>I work across the disciplines of </p>
                <p><font color="GoldenRod">Software Engineering &nbsp  <i class="fa fa-code"></i> </font> &nbsp &nbsp &nbsp <font color="LimeGreen">Machine Learning &nbsp  <i class="fa fa-area-chart"></i></font> &nbsp &nbsp &nbsp <font color="MediumTurquoise"> System Neuroscience &nbsp  <i class="fa fa-user"></i></font> </p>
                <p><i class="fa fa-terminal"></i></p>
                  and I enjoy <font color="Tomato">Photography <i class="fa fa-camera-retro" aria-hidden="true"></i></font> &nbsp and <font color="SlateGray">Yoga 禪</font> &nbsp.
                  <p><i class="fa fa-anchor"></i></p>
                <br/>
              </font>
            </div>
            <!--<div class="col-md-3 col-md-push-9" align="center">-->
              <!--<font size="2px">-->
                <!--<p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>-->
              <!--</font>-->
            <!--</div>-->
        </div>
    </section>
