    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me.</h2>
              <hr class="intro-divider">
              <br/>
                <p>Hello,</p>
                <p>My name is <font color="DarkTurquoise">Wesley</font>.</p>
                <p>I study <font color="HotPink">Computer Science & Neuroscience</font></p> 
                <p>at <font color="DeepSkyBlue">Brandeis University</font>.</p>
                <p>I love <font color="LightCoral ">technogy</font> and see a future filled with </p>
                <p><font color="SlateGray">Intelligent Machines </font></p>
                <p>that make our everyday lives more <font color="Tomato">exciting and meaningful</font>.</p> 
                <p>I want to be part of that intelligent with my strong background in </p>
                <p><font color="Gold ">Software Engineering,</font></p>
                <p><font color="LightGreen ">Machine Learning&</font></p>
                <p><font color="LightSkyBlue ">Cognitive Science</font>. </p>
                <br/>
              </div>
        </div>
    </section>
