    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me.</h2>
              <hr class="intro-divider">
              <br/>
                <p>Hello,</p>
                <p>My name is <font color="DarkTurquoise">Wesley</font>.</p>
                <p>I study <font color="HotPink">Computer Science & Neuroscience</font></p> 
                <p>at <font color="DeepSkyBlue">Brandeis University</font></p>
                <p>I love <font color="LightCoral ">technogy</font> and see a future filled with </p>
                <p><font color="SlateGray"> Intelligent Machines <i class="fa fa-cogs"></i></font></p>
                <p>I believe they will make our everyday lives more <font color="Tomato">exciting and meaningful</font>.</p> 
                <p>I have  a strong background in </p>
                <p><font color="Gold ">Software Engineering <i class="fa fa-code"></i> </font></p>
                <p><font color="LightGreen ">Machine Learning <i class="fa fa-area-chart"></i></font></p>
                <p><font color="LightSkyBlue ">& Cognitive Science <i class="fa fa-user"></i></font> </p>
                <p>and now, I want to be that part of intelligence. </p>
                <br/>
              </div>
        </div>
    </section>
