<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#experiences">Experiences</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <br>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} 2015. All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                <p> I <i class="fa fa-heart"></i> open source!</p>
                <p> Credits: The theme is derived from Landing Page, an open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.</p> 
            </div>
        </div>
        <div align="center" class="row">
            <p class="copyright text-muted small">Last updated with <i class="fa fa-heartbeat"></i> at July, 2015.</p>
        </div>
    </div>
</footer>
