<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add Title -->
    <title>{{site.title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/071362647b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">

    <!-- Custom Logo for Icon Shortcut-->
    <link rel="shortcut icon"
          href="https://raw.githubusercontent.com/WesleyyC/wesleyyc.github.io/master/img/logo/logo.ico">
    
    <!-- particles.js -->
    <script type="text/javascript" src="js/particles.js"></script>

</head>