<section id="instagram">
	<div class="content-section-b">
	    <div class="container">
	        <div class="row">
	            <h2 class="category-heading">Instagram&nbsp<a href="https://instagram.com/wesleyy.c"> <i class="fa fa-instagram"></i> </a></h2>
	            <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
	        </div>
	        <div class="row">
	            	<div id "insta_container" style="text-align:center">
						<div id="instafeed">
						      <a id="more_link"><img class"more_link" src="img/keyboard.jpg"/></a>
						</div>

					</div>
	        </div>

	    </div>
	</div>
</section>