<section id="instagram">
	<div class="content-section-b">
	    <div class="container">
	        <div class="row">
	            <h2 class="category-heading">Life&nbsp<a href="https://instagram.com/wesleyy.c"> <i class="fa fa-instagram"></i> </a> </h2>
	            <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
	        </div>
	        <div class="row">
            	<div id "insta_container" style="text-align:center">
					<div id="instafeed"> </div>
				</div>
	        </div>
<!-- 	        <div class="row" align="center">
	        	<br>
	        	<br>
	        	<a id="more_link" href="#" onClick="return false;"> <div class="numberCircle">Load More</div></a>
	        </div> -->
	    </div>
	    <div class="life-quote" align="center">
            <ul class="copyright text-muted small"> <p>“We shall not cease from exploration, and the end of all our exploring will be to arrive where we started and know the place for the first time.” — T. S. Eliot </p> </ul>
		</div>
	</div>
</section>
