<!-- particles.js -->
<script src="js/particles.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<!-- Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "url": "https://drq.ai/",
      "image": "https://raw.githubusercontent.com/WesleyyC/wesleyyc.github.io/master/img/profile.jpg",
      "additionalName": "Wei Qian",
      "description": "Personal website of Dr. Wesley Wei Qian",
      "name": "Wesley Wei Qian",
      "sameAs": [
        "https://www.linkedin.com/in/wesleyq",
        "https://scholar.google.com/citations?user=SZ5EErcAAAAJ&sortby=pubdate",
        "https://github.com/WesleyyC"
      ]
    }
</script>
